<!doctype html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Home</title>
</head>

<body>
	<div class="wrapper" id="wrapper">
		<div class="preloader">
			<div class="banter-loader">
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
				<div class="banter-loader__box"></div>
			</div>
		</div>
		<%= _.template(require('./parts/header.html'))() %>
		<div class="app" id="app">
			<section class="top">
				<div class="container">
					<div class="top__content">
						<h1>東京バレエ劇場附属<br>
							本校バレエ研究所<br>
							М先生クラス</h1>
						<p>３歳から習えるクラシックバレエ教室</p>
					</div>
				</div>
			</section>
			<div class="september">
				<div class="container">
					<address class="september__address">
						<p class="september__address-text">次回発表会開催決定！</p>
						<p class="september__address-text"><span>2020年9月6日</span><span>会場︰中野ゼロ 大ホール</span></p>
						<p class="september__address-text">新規生徒さん大募集中！</p>
					</address>
				</div>
			</div>
			<section class="feeling">
				<div class="container">
					<h2 class="section-title mr60">
						バレエが大好き！<br>
						<span>その気持ちを大切に…</span>
					</h2>
					<p class="section-subtitle">
						未来のバレリーナたちを応援します。
					</p>
					<div class="feeling__content">
						<h3 class="block-title">３歳から習える<br class="mb">クラシックバレエ教室</h3>
						<p class="text">JR大久保駅から徒歩30秒！<br>
							JR新宿駅より総武線各駅停車で１駅。<br>
							駅から近くアクセス楽々♪</p>
						<p class="text">大ホールでの舞台を想定した<br class="mb">リハーサル可能な広いお稽古場、<br>
							天井が高いのでリフトの練習も<br class="mb">もちろん可能！<br>
							正面は全面鏡張り、<br class="mb">床は全面リノリウム、<br>
							好条件のお稽古場です。</p>
						<p class="text">バレエの基礎から<br class="mb">丁寧にお教え致します。</p>
						<p class="text">初心者、経験者問わず、<br class="mb">レベルや理解度に合わせて<br class="mb">指導致します。</p>
					</div>
					<a data-anchor="contacts" class="btn"><span>お問い合わせ</span></a>
				</div>
				<div class="feeling__flower feeling__flower--left">
					<img src="/images/feeling/flower-left.png" alt="flower-left-img">
				</div>
				<div class="feeling__balerina feeling__balerina--left">
					<img src="/images/feeling/balerina-left.png" alt="balerina-left-img">
				</div>
				<div class="feeling__flower feeling__flower--right">
					<img src="/images/feeling/flower-right.png" alt="flower-right-img">
				</div>
				<div class="feeling__balerina feeling__balerina--right">
					<img src="/images/feeling/balerina-right.png" alt="balerina-right-img">
				</div>
			</section>
			<section class="introduction" id="introduction">
				<div class="container">
					<h2 class="section-title mr60">
						講師紹介
					</h2>
					<div class="introduction__row">
						<div class="introduction__row-item left">
							<div class="introduction__item-text hide">
								<h3 class="block-title">
									<span>柳澤 舞</span> Yanagisawa Mai
								</h3>
								<p class="text">
									4歳より東京バレエ劇場附属蓮田バレエ研究所にてクラシックバレエを始める。嘉代 敬子に師事。<br>
									東京バレエ劇場本校にて川島 誠之介、ジャンナ ムラジャン等に師事。ジュニアバレエ団員、その後バレエ団員として同バレエ団公演や発表会に多数出演。
								</p>
								<p class="text">
									その後、スタジオjazzにてジャズダンスを習い始める。斎藤 京子に師事。NY短期研修参加、同団体の公演にも出演。<br>
									クラシックバレエ、ジャズダンスの経験から幅広い振り付けに対応。悪役やコミカルな役どころなどを得意とし、表現力豊かな踊り手の育成に力を入れている。
								</p>
							</div>
							<div class="introduction__item-text vsbl">
								<p class="text">
									ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ<br>ミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ<br>ミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ<br>ミーテキストダミーテキストダミーテキ<br>ストダミーテキストダミーテキスト
								</p>
							</div>
						</div>
						<div class="introduction__row-item right">
							<div class="introduction__item-media">
								<div class="introduction__media-img-wrap">
									<div class="introduction__media-img">
										<img src="/images/introduction/introduction-img-1.jpg" alt="introduction-img">
									</div>
								</div>
								<div class="introduction__media-img-wrap introduction__media-img-wrap--right">
									<div class="introduction__media-img introduction__media-img--right">
										<img src="/images/introduction/introduction-img-2.jpg" alt="introduction-img">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="level" id="level">
				<div class="container">
					<h2 class="section-title">
						クラス紹介
					</h2>
					<div class="level__list-wrap">
						<ul class="level__list">
							<li class="level__list-item">
								<div class="level__list-inner">
									<div class="level__list-img-wrap">
										<div class="level__list-img">
											<img src="/images/level/level-img_1.jpg" alt="block-image">
										</div>
									</div>
									<h3 class="inner-title">
										Angel
										<span>（3才〜小1）</span>
									</h3>
									<p class="text">
										リズム感を養う、幼児向けクラス
									</p>
									<a data-anchor="contacts" class="btn"><span>お問い合わせ</span></a>
								</div>
							</li>
							<li class="level__list-item">
								<div class="level__list-inner">
									<div class="level__list-img-wrap">
										<div class="level__list-img">
											<img src="/images/level/level-img_2.jpg" alt="block-image">
										</div>
									</div>
									<h3 class="inner-title">
										Junior A
										<span>（小2〜小4）</span>
									</h3>
									<p class="text">
										初級者向け、バレエの基本を学ぶクラス
									</p>
									<a data-anchor="contacts" class="btn"><span>お問い合わせ</span></a>
								</div>
							</li>
							<li class="level__list-item">
								<div class="level__list-inner">
									<div class="level__list-img-wrap">
										<div class="level__list-img">
											<img src="/images/level/level-img_3.jpg" alt="block-image">
										</div>
									</div>
									<h3 class="inner-title">
										Junior B
										<span>（小5〜小6）</span>
									</h3>
									<p class="text">
										初、中級者向け。経験者はトウシューズもはきます。
									</p>
									<a data-anchor="contacts" class="btn"><span>お問い合わせ</span></a>
								</div>
							</li>
							<li class="level__list-item">
								<div class="level__list-inner">
									<div class="level__list-img-wrap">
										<div class="level__list-img">
											<img src="/images/level/level-img_4.jpg" alt="block-image">
										</div>
									</div>
									<h3 class="inner-title">
										Senior
										<span>（中高生〜）</span>
									</h3>
									<p class="text">
										経験者向け。基礎を大切に、<br>
										バー&センターレッスンを行います。初心者も歓迎。
									</p>
									<a data-anchor="contacts" class="btn"><span>お問い合わせ</span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="level__flower level__flower--left">
					<img src="/images/level/level-flower-left.png" alt="flower-left">
				</div>
				<div class="level__balerina level__balerina--left">
					<img src="/images/level/level-balerina-left.png" alt="balerina-left">
				</div>
				<div class="level__flower level__flower--right">
					<img src="/images/level/level-flower-right.png" alt="flower-right">
				</div>
				<div class="level__balerina level__balerina--right">
					<img src="/images/level/level-balerina-right.png" alt="balerina-right">
				</div>
			</section>
			<section class="lesson sc-pd" id="lesson">
				<div class="container">
					<h2 class="section-title">
						レッスン<br class="ph">スケジュール
					</h2>
					<div class="lesson__row">
						<dl class="lesson__list">
							<dt class="inner-title mr20">月曜日</dt>
							<dd class="text mr20">16：00〜17：00 <span>Angel・Junior A</span>（3才〜小4）</dd>
							<dd class="text">17：10～18：20 <span>Junior B</span>（小5〜小6）</dd>
						</dl>
						<dl class="lesson__list">
							<dt class="inner-title mr20">木曜</dt>
							<dd class="text mr20">15：30〜16：30 <span>Angel</span>（3才〜小1）</dd>
							<dd class="text mr20">16：40～17：50 <span>Junior A</span>（小2〜小4）</dd>
							<dd class="text mr20">18：00～19：10 <span>Junior B</span>（小5〜小6）</dd>
							<dd class="text">19：20〜20：45 <span>Senior</span>（中高生〜）</dd>
						</dl>
					</div>
					<h3 class="block-title" id="money">
						料金
					</h3>
					<ul class="lesson__price-list">
						<li class="lesson__price-item">
							<p class="text">
								入所金：15,000円
							</p>
						</li>
						<li class="lesson__price-item">
							<p class="text">
								設備費：6,000円/１年<span class="price-min">（初年度のみ入所月、以降毎月4月）</span>
							</p>
						</li>
						<li class="lesson__price-item">
							<p class="text price-text-wrap">
								<span class="price-name">月謝：</span>
								<span class="wrap-wrap">
									<span class="price-b">7,000</span>円（週１回）
									<br class="mb">
									<span class="price-b">13,000</span>円（週２回）<span class="hide">※</span>
								</span>
							</p>
						</li>
						<li class="lesson__price-item mr">
							<p class="text">発表会積立金1,000円（月）※ <br>後援会費1,000円（月） ※<span class="price-min">（毎月のお支払いは※の合計金額）</span>
							</p>
						</li>
						<li class="lesson__price-item">
							<p class="text">
								体験レッスン2,000円/１クラス
							</p>
						</li>
					</ul>
					<h4 class="inner-title mr30">
						総武線大久保駅南口30秒 <br class="ph">山手線新大久保駅3分
					</h4>
					<div class="lesson__map-wrap">
						<div class="lesson__map">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56516.276892014124!2d85.29111313454999!3d27.709031933650166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198a307baabf%3A0xb5137c1bf18db1ea!2z0JrQsNGC0LzQsNC90LTRgyA0NDYwMCwg0J3QtdC_0LDQuw!5e0!3m2!1sru!2sua!4v1603715261280!5m2!1sru!2sua"
								width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false"
								tabindex="0"></iframe>
						</div>
					</div>
				</div>
			</section>
			<section class="faq sc-pd">
				<div class="container">
					<h2 class="section-title mr60">
						よくある質問
					</h2>
					<dl class="faq__list">
						<dt class="faq__question">
							<span class="square-q">Q</span><span class="text">発表会はどのくらいの頻度でありますか？</span>
						</dt>
						<dd class="faq__answer">
							<span class="square-a">A</span>
							<p class="text">
								1年半〜2年に1度のペースで開催しております。<br>
								会場を取るのが抽選なので、明確にいつ、と決めているわけではなく、だいたいその期間を目安にホールが取れ次第という形になります。
							</p>
						</dd>
						<dt class="faq__question">
							<span class="square-q">Q</span><span class="text">発表会費用はどのくらいかかりますか？</span>
						</dt>
						<dd class="faq__answer">
							<span class="square-a">A</span>
							<p class="text">
								参加人数などによって変動しますが、およそ10万円〜15万円程度です。その中には会場費、振付費、衣装レンタル代などが含まれます。衣装の買い取りなどはございませ<br
									class="ph">ん。<br>
								個人で使用する消耗品（本番用の新しいタイツやシューズなど）は別途ご負担頂きます。<br>
								また、男性とパドドゥ等を踊る生徒さんに関しましては追加男性負担金がかかります。
							</p>
						</dd>
						<dt class="faq__question">
							<span class="square-q">Q</span><span class="text">お稽古をお休みした場合、振<br class="ph">替はできますか？</span>
						</dt>
						<dd class="faq__answer">
							<span class="square-a">A</span>
							<p class="text">
								可能です。月曜日、木曜日相互に振替可能です。<br>
								東京バレエ劇場本校の舞クラス以外のクラスへの振替は別途500円/1ク<br class="ph">ラスをご負担頂ければ可能です。<br>
								原則、お休みをしたその月のうちに振替をお願いしておりますが、応相談です。
							</p>
						</dd>
						<dt class="faq__question">
							<span class="square-q">Q</span><span class="text">指定のお稽古着などはありますか？</span>
						</dt>
						<dd class="faq__answer">
							<span class="square-a">A</span>
							<p class="text">
								当校ではレオタード、タイツの着用をお願いしておりますが、レオタードのデザイン指定はございません。ウォームアップ時にはTシャツやスウェットなどの着用も可能です。
							</p>
						</dd>
						<dt class="faq__question">
							<span class="square-q">Q</span><span class="text">体験レッスンに行きたいのですが…</span>
						</dt>
						<dd class="faq__answer">
							<span class="square-a">A</span>
							<p class="text">
								当ホームページからお申込み頂けます。<br>
								体験レッスン当日はバレエが初めての方でしたら、動きやすい服装、靴下、汗拭きタオル、飲み物をご持参の上、女の子は髪の毛が邪魔にならないように結ってきて下さい。経験者の方は今までのレッスン通りで結構です。
							</p>
						</dd>
					</dl>
				</div>
			</section>
			<section class="gallery sc-pd" id="gallery">
				<h2 class="section-title">
					フォトギャラリー
				</h2>
				<ul class="gallery__list">
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-1.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-1.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-2.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-2.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-3.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-3.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-4.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-4.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-5.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-5.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-6.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-6.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-7.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-7.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-8.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-8.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
					<li class="gallery__list-item">
						<a href="/images/gallery/gallery-img-9.jpg" data-fancybox="images">
							<div class="gallery__list-image">
								<img src="/images/gallery/gallery-img-9.jpg" alt="gallery-img">
							</div>
						</a>
					</li>
				</ul>
			</section>
			<section class="contacts sc-pd" id="contacts">
				<div class="container">
					<h2 class="section-title">
						体験レッスン<span>お申し込み・お問い合わせ</span>
					</h2>
					<p class="section-subtitle">
						入所者募集中♪
					</p>
					<form action="#" class="form">
						<div class="form__line">
							<label for="name" class="label">お名前<span class="red">※</span></label>
							<input type="text" name="name" class="input" id="name" />
						</div>
						<div class="form__line">
							<label for="phone" class="label">電話番号<span class="red">※</span></label>
							<input type="tel" name="phone" class="input" id="phone" />
						</div>
						<div class="form__line">
							<label for="email" class="label">メールアドレス<span class="red">※</span></label>
							<input type="email" name="email" class="input" id="email" />
						</div>
						<div class="form__line">
							<label for="message" class="label">ご相談内容<span class="red">※</span></label>
							<textarea name="message" class="input" id="message"></textarea>
						</div>
						<button type="submit" class="btn">
							<span>送信する</span>
						</button>
					</form>
				</div>
			</section>
		</div>
		<%= _.template(require('./parts/footer.html'))() %>
	</div>
</body>

</html>